<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div class="row border rounded pt-2 pb-2 bg">
      <div class="col">
        <div class="bg-image">
          <img
            src="./assets/images/counseling/counseling_2.jpg"
            class="rounded mx-auto d-block"
          />
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.5)"></div>
        </div>
      </div>
      <div class="col">
        <app-counseling-content></app-counseling-content>
      </div>
    </div>
  </div>
  <div class="col-12"></div>
</div>
