<div class="container">
    <div class="row mb-5">
        <h1 class="jumbotron text-center fst-italic fw-semibold text-color underline-effect">
            <i class="fas fa-quote-right"></i> "Talk One on One"
        </h1>
    </div>
    <div class="row mb-4">
        <h2 class="text-center text-color">Gain a clearer perspective on your future</h2>
    </div>
    <div class="row mb-4">
        <h4 class="text-center text-color">Book a Session with one of our counsellors</h4>
    </div>
    <div class="row mt-5">
        <div class="d-grid gap-2 col-md-4 mx-auto mt-5">
            <button class="btn btn-custom" type="button">Book Now</button>
        </div>
    </div>
</div>